<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="stepsCommon.sleep" class="havis.test.suite.beans.step.Sleep" />
	<bean id="stepsCommon.message" class="havis.test.suite.beans.step.Message" />
	<bean id="stepsCommon.globalContextRemove" class="havis.test.suite.beans.step.GlobalContextRemove" />
	<bean id="stepsCommon.timestamp" class="havis.test.suite.beans.step.Timestamp" />
	
	

</beans>